{%extends 'app/base2.html'%}
{% load static %}
{% block contenido %}

{% if usuario == 1 %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      </div>
      <div class="col-sm-8 flex-column mt-3 text-center">
        {% for aux in listar_carrito %}
              <div class="card mb-3 ml-5" style="width: auto; height: 300px; margin: auto auto;">
              <div class="row no-gutters">
                <div class="col-sm-4">
                  <img src="{{ aux.producto.imagen.url }}" class="card-img" alt="..." style="height: 300px;">
                </div>
                <div class="col-sm-8">
                  <div class="card-body">
                    <h5 class="card-title">Nombre: {{ aux.producto.nombre }}&nbsp;|&nbsp;Tipo: {{ aux.producto.tipo }}</h5>
                    <p class="card-text">Codigo: {{ aux.producto.codigo }}&nbsp;|&nbsp;Stock: {{ aux.producto.stock }} </p>
                    <p class="card-text">Marca: {{ aux.producto.marca }}&nbsp;|&nbsp;Cantidad: {{ aux.cantidad}} </p>
                    <p class="card-text">Precio: ${{ aux.producto.precio }}&nbsp;|&nbsp;Descripcion: { aux.producto.descripcion }} </p>
                    <a href="{% url 'delete_item' aux.producto.codigo %}" class="btn btn-danger">Eliminar item</a>
                  </div>
                </div>
              </div>
            </div> 
          {% endfor %}
        </div>
    </div>
      <div class="col-sm-2">
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <div class="card" style="width:350px">
            <div class="card-body">
              <h4 class="card-title">Total de la compra</h4>
              <p class="card-text">Descuento: ${{ descuento }} </p>
              <p class="card-text">Total a pagar: ${{ totalsub }}</p>
              <div class="payMethod mb-3 mt-3">
                <h6>Metodos de pago:</h6>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Seleccione...
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Paypal</a>
                    <a class="dropdown-item" href="#">WebPay</a>
                    <a class="dropdown-item" href="#">Targeta Registrada</a>
                  </div>
                </div>
              </div>
                 <form action="" method="POST" class="" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="submit" class="btn btn-success  mt-3" value="Pagar!">
              </form>
              <p></p>
              <a href="{% url 'limpiar_carrito' %}" class="btn btn-danger">Limpiar carrito</a>
            </div>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
  </div>
{% elif usuario == 0 %}
<div class="container-fluid  text-center">
  <h2 style="color:black;">Carrito de compras</h2>
  <p style="color: black;">Puedes revisar tur productos seleccionados antes de pagarlos aqui</p>
  <div class="row">
    <div class="col-sm-2 flex-column mt-5 text-center">
      </div>
      <div class="col-sm-8 flex-column mt-3 text-center">
        {% for aux in listar_carrito %}        
              <div class="card mb-3 ml-5" style="width: auto; height: auto; margin: auto auto;">
              <div class="row no-gutters">
                <div class="col-sm-4">
                  <img src="{{ aux.producto.imagen.url }}" class="card-img" alt="..." style="height: 250px;">
                </div>
                <div class="col-sm-8">
                  <div class="card-body">
                    <h5 class="card-title">Nombre: {{ aux.producto.nombre }}&nbsp;|&nbsp;Tipo: {{ aux.producto.tipo }}</h5>
                    <p class="card-text">Codigo: {{ aux.producto.codigo }}&nbsp;|&nbsp;Stock: {{ aux.producto.stock }} </p>
                    <p class="card-text">Marca: {{ aux.producto.marca }}&nbsp;|&nbsp;Cantidad: {{ aux.cantidad}} </p>
                    <p class="card-text">Precio: ${{ aux.producto.precio }}&nbsp;|&nbsp;Descripcion: {{ aux.producto.descripcion }} </p>
                    <a href="{% url 'delete_item' aux.producto.codigo %}" class="btn btn-danger">Eliminar item</a>
                  </div>
                </div>
              </div>
            </div> 
          {% endfor %}
      </div>
      <div class="col-sm-2">
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <div class="card" style="width:350px">
            <div class="card-body">
              <h4 class="card-title">Total de la compra</h4>
              <p class="card-text">{{ no_sus }}</p>
              <p class="card-text">Total a pagar: ${{ total }}</p>
              <div class="payMethod mb-3 mt-3">
                <h6>Metodos de pago:</h6>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Seleccione...
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Paypal</a>
                    <a class="dropdown-item" href="#">WebPay</a>
                    <a class="dropdown-item" href="#">Targeta Registrada</a>
                  </div>
                </div>
              </div>
                 <form action="" method="POST" class="" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="submit" class="btn btn-success  mt-3" value="Pagar!">
                </form>
                <p></p>
              <a href="{% url 'limpiar_carrito' %}" class="btn btn-danger">Limpiar carrito</a>
            </div>
        </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}
{% block sweetalert %}
{% if mensaje == "pago verificado" %}
    <script>
        Swal.fire({
        icon: 'warning',
        title: 'Tu pago esta siendo comprobado',
        text: 'Un momento por favor!',
        
        confirmButtonText: "Continuar",
        confirmButtonColor: '#3085d6',
        
      }).then((result) => {
        if (result.value) {
          Swal.fire(
            'Aprobado!',
            'Tu pago a sido recibido!',
            'success'
          ).then(function() {
            window.location.href = "/pago_recibido/";
          })
        }
      })
    </script>
    {% endif %}
{% endblock %}
