{%extends 'app/base.html'%}
{% load static %}
{% block contenido %}
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <table class="table mt-3">
      <thead class="thead-dark">
        <tr>
          <th>ID compra</th>
          <th>Fecha de compra</th>
          <th>Monto</th>
          <th>Estado</th>
          <th>Despacho</th>
        </tr>
      </thead>
      <tbody>
        {% for aux in lista_historial %}
        <tr class="table-success">
          <td>{{ aux.id }}</td>
          <td>{{ aux.fecha_compra }}</td>
          <td>${{ aux.total_compra }}</td>
          <td>{{ aux.estado }}</td>
          <td><form action="{% url 'seguimiento_despacho' aux.id %}" method="POST" class="" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="hidden" name="nombre_producto" id="nombre_producto" value="{{aux.producto.nombre}}">
              <input type="hidden" name="precio_producto" id="precio_producto" value="{{ aux.producto.precio }}">
              <input type="hidden" name="cantidad_producto" id="cantidad_producto" value="{{ aux.cantidad }}">
              <input type="hidden" name="estado_producto" id="estado_producto" value="{{ aux.estado }}">
              <input type="hidden" name="imagen_producto" id="imagen_producto" value="{{aux.producto.imagen.url }}">
              <input type="submit" class="btn btn-success  mt-3" value="Seguimiento">
          </form>
          </td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}