{%extends 'app/base.html'%}
{% load static %}
{% block contenido %}
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-6">
    <div class="titulo mt-3 mb-3 text-center">
    <H1>Seguimiento de despacho</H1>
  </div>
      <div class="row justify-content-center">
        <div class="col-sm-3">
        <img src="{% static 'app/img/shoopingcart.png'%}" alt="">
        <img src="{% static 'app/img/arrow.png'%}" alt="">
      </div>
      <div class="col-sm-3">
        <img src="{% static 'app/img/truck.png'%}" alt="">
        <img src="{% static 'app/img/arrow.png'%}" alt="">
      </div>
      <div class="col-sm-3">
        <img src="{% static 'app/img/home.png'%}" alt="">
        <img src="{% static 'app/img/success.png'%}" alt="">
      </div>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-6">
      <div class="progress">
        <div class="progress-bar" style="width:100%">100%</div>
      </div>
      <div class="mensagge mt-3">
        <h3>Tu pedido ah sido entregado en tu domicilio espero lo disfrutes</h3>
        <p>Fecha estimada de entrega jueves 3 de Marzo</p>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-6">
        <h4>Detalles del envio</h4>
        <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Numero de orden</th>
          <th>Producto</th>
          <th>Fecha de compra</th>
          <th>Fecha estimada Despacho</th>
          <th>Precio</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-success">
          <td>GP0002</td>
          <td>Maceta Good</td>
          <td>20/02/2022</td>
          <td>03/03/2022</td>
          <td>$9.500</td>
          <td>Entregado</td>
        </tr>
      </tbody>
    </table>
      </div>
      <div class="col-sm-2"></div>
  </div>
    <div style="text-align: center;">
      <input type="submit" value="Ver despacho" class="btn btn-success mt-3 mb-3" name="btnEnviar" id="btnEnviar">
      <input type="reset" value="Cancelar" class="btn btn-danger mt-3 mb-3" name="btnLimpiar" id="btnLimpiar">
  </div>
</div>
  <div class="col-sm-2">
  </div>
</div>
{% endblock %}