{%extends 'app/base.html'%}
{% load static %}
{% block contenido %}
{% load crispy_forms_tags %}



{% if usuario == 1 %}
<div class="col-sm-8">
        <table class="table table-bordered mt-3">
          <thead class="thead-dark">
            <tr>
              <th>nombre</th>
              <th>esta suscrito</th>
              <th>eliminar suscripcion</th>
            </tr>
          </thead>
          <tbody>
            {% for aux in listar_suscripcion %}
            <tr class="table-warning">
              <td>{{ aux.username }}</td>
              <td>{{ aux.is_suscrito }}</td>
              <td><a href="{% url 'eliminar_suscripcion' aux.username %}" class="btn btn-primary">Eliminar Suscripcion</a></td>
            </tr>
          </tbody>
        </table>
          {% endfor %}
              </div>
            </div>
            <div class="col-sm-2">
            </div>
  {% elif usuario == 0 %}
  <div class="col-sm-8 flex-column mt-3">
      <form action="" method="POST" class="m-5">
          {% csrf_token %}
          <table>
              {{ form|crispy }}
              <td>
              <input type="submit"  class="btn btn-success mt-3" name="btnEnviar" id="btnEnviar">
              <meta http-equiv="refresh" content="5; url={% url 'suscribe' %}" />
              </td>
          </table>
      </form>
  {% endif %}
  {% endblock %}