{%extends 'app/base.html'%}
{% load static %}
{% block contenido %}

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Rut</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Numero</th>
            <th>Tipo</th>
            <th>Imagen</th>
            <th>Fecha Creacion</th>
            <th>Fecha Modificacion</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for aux in lista_usuario %}
        <tr>
            <td>{{ aux.rut }}</td>
            <td>{{ aux.nombre }}</td>
            <td>{{ aux.correo }}</td>
            <td>{{ aux.numero }}</td>
            <td>{{ aux.tipo }}</td>
            <td><img src="{{ aux.imagen.url }}" class="" style="width:100px;"></td>
            <td>{{ aux.create_at }}</td>
            <td>{{ aux.update_at }}</td>
            <td>
                <a href="{% url 'modificar_usuario' aux.rut %}"  class="btn btn-primary">Modificar</a>
                <a onclick="borrarusuario({{ aux.rut }})" class="btn btn-danger" >Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}