{%extends 'app/baseAdmin.html'%}
{% load static %}
{% block contenido %}
<div class="row">
  <div class="col-sm-4 my-3 pt-3 shadow">
    <img src="{% static 'app/img/DefaultUser.png'%}" alt="" class="float-top rounded-circle mr-2" width="150px">
    <h6> Nombre usuario: Empleado#1</h6>
    <h6>Tipo de usuario: Administrador de productos<h6>
    <h6>Email: Empleado#1@gmail.com</h6>
    <h6>Numero: +5699988776</h6>
  </div>
  <div class="col-sm-4 my-3 pt-3 shadow">
    <img src="{% static 'app/img/mapaDespacho2.jpg'%}" alt="" class="float-top rounded-circle mr-2" width="200px">
  <h6> Direccion Particular</h6>
  <h6>Cuidad: Santiago</h6>
  <h6>Comuna: Puente Alto</h6>
  <h6>Direccion: Calle ryuk #01122</h6>
  </div>
</div>
{% endblock %}